@import "../../../App.scss";

.balance_wrapper {
  position: relative;
  width: 400px;
  height: auto;
  min-width: 300px;
  border-radius: 7px;
  background: linear-gradient(
    185.87deg,
    #3d4046 27.15%,
    rgba(61, 64, 70, 0) 154.52%
  );
  margin: 2em auto 2em auto;

  .balance_internal_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;

    .balance_flex_item_1 {
      display: block;

      .balance_numbers {
        font-size: 2em;
        font-weight: 800;
        padding: 0;
        margin: 0;
      }

      .balance_text {
        font-size: 0.8em;
      }
    }
  }

  .balance_expanded_input_button {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }

  .balance_btn_3 {
    width: 110px;
    height: 23px;
    border: none;
    border-radius: 7px;
    color: white;
    margin-left: 1em;
  }
}

input[type="number"] {
  background-color: inherit;
  border: none;
  border-bottom: 0.6px solid rgba(133, 135, 136, 0.6);
  width: 230px;
  padding: 0 0.5em;
  color: white;
}

.balance_left_border {
  position: absolute;
  width: 3px;
  height: 80px;
  margin: 0.5em 0 0 1em;
  border-radius: 7px;
}

.balance_btn {
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 7px;
  margin: 0.6em;
  font-weight: 800;
  font-size: 0.6em;
  text-transform: uppercase;
  color: white;
}

.balance_flex_item_2 {
  display: flex;
  flex-direction: column;
}

.balance_btn_2 {
  background-color: gray;
}

.item_date {
  font-size: 0.6em;
  font-weight: 200;
}

.balance_expanded {
  padding: 0 1em;
}

.balance_btn:hover {
  opacity: 0.7;
}
