@import "../../App.scss";

.upload_avatar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 2em 0;

  span {
    font-size: 0.8em;
    padding: 1em 0;
  }
}

.upload {
  display: inline-block;
  background-color: $main_details_color;
  padding: 0.5em;
  width: 86px;
  height: 30px;
  border-radius: 7px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.upload:hover {
  background-color: #cc4621;
}

input[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}
