@import "../../../App.scss";

.settings {
  position: relative;

  .settings_wrapper {
    border-top: 2px solid $main-details-color;
    width: 320px;
    background-color: #3d4046;
    position: absolute;
    right: 0;
    padding: 1em;

    .login_form_wrapper {
      width: 100%;
      height: auto;
      min-width: 200px;
      border-radius: 8px;
      margin: 0em auto 4em auto;
    }
  }

  .settings_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-weight: 700;
    margin: 2em 0;
  }

  .settings_form {
    padding: 0.6em;
  }

  .setting_form_top {
    display: block;
  }

  .login_form_span {
    text-transform: none !important;
    font-size: 0.9em;
    font-weight: 600;
    margin-left: -0.5em;
  }

  .login_form_hr-line {
    margin: 0 -1em;
  }

  .settings_togglers {
    .toggler {
      display: flex;
      justify-content: space-between;
      padding: 1em 0;
      font-size: 0.6em;
      font-weight: 600;
      margin: 0 1em;

      .internal_toggler_wrapper > span {
        margin: 0 0.5em;
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 24px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: grey;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
