@import "../../App.scss";

.savings {
  .colorized {
    background-color: $savings-details-color;
  }

  .hr_line {
    width: 100%;
    height: 1px;
    background-color: rgba(133, 135, 136, 0.6);
    margin: 0 0 0.5em 0;
  }

  .colorized {
    background-color: $savings-details-color;
  }

  a:hover {
    color: $savings-details-color;
  }
}
