@import "../../App.scss";

.wallet {
  .colorized {
    background-color: $main-details-color;
  }
  .balance_flex_item_2 {
    display: block;
    font-size: 0.6em;
    text-align: end;

    img {
      width: 42px;
      height: 36px;
    }
  }

  .balance_left_border {
    position: absolute;
    width: 3px;
    height: 70px;
    margin: 0.5em 0 0 1em;
    border-radius: 7px;
  }

  a:hover {
    color: $main-details-color;
  }
}
