.login_page {
  .login_form_wrapper {
    width: 400px;
    height: auto;
    min-width: 300px;
    border-radius: 8px;
    background-color: #3d4046;
    margin: 6em auto;
  }

  .login_form_span {
    display: inline-block;
    text-transform: uppercase;
  }
}
