@import "../../../App.scss";

.transactions {
  position: relative;
  width: 400px;
  height: auto;
  margin: 0 auto;
  min-width: 300px;
  border-radius: 7px;
  background: linear-gradient(
    185.87deg,
    #3d4046 27.15%,
    rgba(61, 64, 70, 0) 154.52%
  );

  .internal_wrapper {
    padding: 0.5em;
    margin: 1em;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 0.5em 0;

      .header_arrows {
        display: flex;

        .arrows {
          display: flex;
          flex-direction: column;
          margin-left: 0.5em;
        }
      }
    }
  }

  .hr_line {
    width: 100%;
    height: 1px;
    background-color: rgba(133, 135, 136, 0.6);
    margin: 0 0 0.5em 0;
  }

  .items_container {
    .item_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0.5em 0;
      border-radius: 7px;
    }

    .transaction_details {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      font-size: 0.7em;
      color: rgb(141, 138, 138);
    }
  }
  .selected {
    background-color: rgb(34, 33, 33);
    padding: 0.5em;
    border-radius: 7px;
    margin: 0.5em -0.5em;
  }
}

.item_hover:hover {
  background-color: rgb(80, 78, 78);
  margin: 0 -0.5em;
}

.date_header {
  background-color: $main-details-color;
  padding: 0.7em;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
}
