@import "../../App.scss";

.loans {
  .colorized {
    background-color: $loans-details-color;
  }

  .balance_btn {
    font-size: 0.57em;
  }

  .balance_btn_3 {
    background-color: #ff99af;
    font-size: 0.7em;
    font-weight: 600;
  }
}
