$main-details-color: #f4613a;
$savings-details-color: #00c637;
$loans-details-color: #00bac6;

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: rgb(26, 24, 24);
}

li {
  list-style: none;
}
